<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new product</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
</head>

<body>
    <form class="p-4">
        <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Product's name" autofocus>
        </div>
        <div class="form-group">
            <input type="number" min="0" step="0.01" id="price" class="form-control currency" data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Price" autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="description" class="form-control" placeholder="Description" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
            SAVE
        </button>

    </form>

    <script>
        const {
            ipcRenderer
        } = require('electron');

        const form = document.querySelector('form');

        form.addEventListener('submit', evt => {
            evt.preventDefault();
            let product = {};
            let target = evt.target;

            product.name = target.name.value;
            product.price = target.price.value;
            product.description = target.description.value;

            ipcRenderer.send('new-product', product);
        });
    </script>    
</body>

</html>